body {
    background-color: #D8BaD7;
}
    
ul {
    list-style-type: none;
    border: 5px solid #4E4B27;
    background-color: #9591AE;
    color: #4E4B27;
    margin: 20px;
    padding: 20px 0px 20px 40px;
    font-size: 24px;
    box-shadow: 10px 20px #4E4B27;
}

ul li {
    display: inline;
    margin-right: 15px;
    font-weight: bolder;
 }

 a {
    color: inherit;
    text-decoration: none;
 }

 .pagegrid {
     margin: 20px;
     display: grid;
     grid-template-columns: 400px 800px 100px;
     grid-template-rows: (minmax 300px, auto) 200px;
     
 }

 .maintext {
     grid-column: 2 / 3;
     grid-row: 1 / 2;
     border: 5px;
     background-color: #d8dad7;
     padding: 20px 20px 20px 40px;
     margin: 15px 15px 15px 15px;
     font-family: Oswald, sans-serif;
     font-size: 20px;
     
 }

 .rightborder {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    border: 5px solid #4E4B27;
    background-color: #d8dad7;
background-image: url("data:image/svg+xml,%3Csvg width='24' height='40' viewBox='0 0 24 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 40c5.523 0 10-4.477 10-10V0C4.477 0 0 4.477 0 10v30zm22 0c-5.523 0-10-4.477-10-10V0c5.523 0 10 4.477 10 10v30z' fill='%239591ae' fill-opacity='0.73' fill-rule='evenodd'/%3E%3C/svg%3E");
 
    padding: 20px 0px 20px 40px;
    font-size: 24px;
    box-shadow: 10px 20px #4E4B27;
}

.bottomborder {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    border: 5px solid #4E4B27;
    background-color: #acbfb9;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%234e4b27' fill-opacity='1'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
 
    font-size: 24px;
    box-shadow: 10px 20px #4E4B27;
    height: 100px;
}

.containertitle {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 5px solid #4E4B27;
    background-color: #9591AE;
    color: #4E4B27;
    padding: 20px 0px 20px 40px;
    font-size: 24px;
    box-shadow: 10px 20px #4E4B27;
    display: grid;
        grid-gap: 10px;
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 100px 100px 100px minmax(100px , auto);            
 }

 .title1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: #4e4b27;
background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%23acbfb9' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
 }

 .title2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #d8dad7;
background-image: url("data:image/svg+xml,%3Csvg width='24' height='40' viewBox='0 0 24 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 40c5.523 0 10-4.477 10-10V0C4.477 0 0 4.477 0 10v30zm22 0c-5.523 0-10-4.477-10-10V0c5.523 0 10 4.477 10 10v30z' fill='%239591ae' fill-opacity='0.73' fill-rule='evenodd'/%3E%3C/svg%3E");
 }

 .title3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-color: #acbfb9;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%234e4b27' fill-opacity='1'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
 }
 .titleacc {
     grid-column: 1 / 3;
     grid-row: 2 / 3;
     font-size: 80px;
    }
.titlefull {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    font-size: 30px;
}

.titleimage {
    grid-column: 3 / 4;
    grid-row 2 / 4;
    background-image: url('source.gif');
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-position: center;
    height: 200px;
    background-size: cover;
}
.title4 {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    background-color: #4e4b27;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%23acbfb9' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
 }

